body {
  background-color: #E9D5DA;
}

hr {
  border-style:none;
  border-top: dotted 5px Linen;
  width:10%;
}

h1{
  color:#363062;
}
h3{
  color:#363062;
}

img{
  width:300px;
}
